
/* div widht: 570px */

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

.main-container {
    /* border: 3px dotted black; */
    width: 570px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: 0;
}

h2 {
    
    font-size: 42px;
    font-weight: 300;
    margin-top : 0;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}



.small-typo {
    font-size: 16px;
    margin-top: 6px;

}

a {
    color: #99d930;
}

a:hover,
a:focus {
    color: #131313;
}

h1 span {
    font-size: 80px;
    font-weight: 900;
    display: block;
    color: #99d930;
}

h2 span {
    font-size: 60px;
    font-weight: 900;
    display: block;
    color: #99d930;
} 


header {
    background: #252525;
    padding: 100px 0;
    color: #fff;
}


.sec1 {
    padding: 100px 0;
}



.sec2 {
    background: #252525;
    padding: 100px 0;
    color: #FFF;
}

.a-btn {
    display: inline-block;
    background: #99d930;
    color: #252525;
    font-weight: 900;
    text-decoration: none;
    padding: 15px 25px; 
    margin-top: 30px;
}

.a-btn:hover,
.a-btn:focus {
    color: #fff;
    background: #252525; 
}

hr {
    color: #c4c4c4;
    margin-bottom: 40px;
}


.second:hover,
.second:focus {
    background: #fff;
    color: #252525;
}